@import url(https://fonts.googleapis.com/css?family=Lobster:regular);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin: 2rem 0;
  color: #fff;
}

label {
  color: #fff;
  letter-spacing: 1px;
}

.back-btn:link,
.back-btn:visited,
.back-btn:hover,
.back-btn:active {
  border: 1px solid #fff;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
}

.title {
  text-align: center;
  color: #fff;
  font-family: "Lobster", Arial, Helvetica, sans-serif;
  font-size: 60px;
}

.sign-up {
  color: #fff;
  letter-spacing: 1px;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.signin-btn,
.signup-btn {
  display: block;
  margin: 1rem 0;
  width: 30%;
  letter-spacing: 1px;
}

/* timeline */
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.post {
  outline: 1px solid #b0abab;
}

.response-icons {
  text-decoration: none;
  margin-right: 10px;
}
